@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}
.card {
  background: white;
  width: 10cm;
  height: 15cm;
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
}

.top-card {
  font-size: 100px;
  float: left;
  padding-left: 10px;
}
.card-value {
  font-size: 150px;
  margin: auto;
  font-family: Garamond;
}
.bottom-card {
  margin-left: 300px;
  font-size: 100px;
}

#button1 {
  margin-right: 5px;
}
